.nav-container
  %nav
    %button#hamburguerContainer.burguer-container{type: 'button'}
      .span-container
        %span.burguer-bar.fst-line
        %span.burguer-bar.scnd-line
        %span.burguer-bar.thrd-line

    .nav-buttons-container#navButtonsContainer
      .d-flex.flex-column.nav-buttons-layer#navButtonsLayer
        .p2.about-ico#navIco
          = image_tag 'boy.svg', class: 'boyico', id: 'navIcoLayer'
        .p2.experience#navIco
          = image_tag 'file.svg', class: 'fileico', id: 'navIcoLayer'
        .p2.formation#navIco
          = image_tag 'mortarboard.svg', class: 'mortico', id: 'navIcoLayer'
        .p2.settings#navIco
          = image_tag 'gears.svg', class: 'gearsico', id: 'navIcoLayer'

      .downloads#downloads
        .download#navIco
          = image_tag 'download.svg', class: 'downico', id: 'navIcoLayer'
