!!!
%html
  %head
    %title Pablo Leon
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport', charset: 'utf-8'}

  %body
    .background
      .flex-container
        = render 'layouts/navbar'
        = render 'layouts/pic'
        = render 'layouts/info'

    = yield
